* {
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.whiteBackground {
  background-color: rgba(255, 255, 255, 0.5);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(227, 29, 147, 0.5);
  opacity: 1; /* Firefox */
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}
.css-qbdosj-Input:focus {
  outline: none !important;
  border: 1px solid #e31d93;
  box-shadow: 0 0 10px #e31d93;
}

.input {
  border: 1.5px solid rgba(227, 29, 147, 0.6);
  /* width: 514px; */
}
.select-placeholder-text {
  color: rgba(227, 29, 147, 0.5);
  opacity: 1; /* Firefox */
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(227, 29, 147, 0.6)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 1rem;
  padding-right: 2rem;
  color: #e31d93;
}

select option {
  line-height: 20px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.input:focus {
  outline: none !important;
  border: 1px solid #e31d93;
  box-shadow: 0 0 10px #e31d93;
}

.personality {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(227, 29, 147, 0.5);
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.btnAdd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;

  /* width: 1144px; */
  width: 100%;
  height: 40px;

  background: #e31d93;
  border: 1px solid #e31d93;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}
.btnEdit {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgba(227, 29, 147, 0.5);
  cursor: pointer;
}
.btnDelete {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #cf1322;
  margin-left: 12px;
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
